#accion{
    background-color: #E14D2A;
    display: inline-block;
    padding: 50px;
    vertical-align: top;
    text-align: center;
    width: 350px;
}
.contenedor img{
    width: 250px;
    border-radius: 20px;
}
#accion li{
    list-style: none;
    text-align: center;
    color: white;
    font-size: 20px;
}
